.mat-toolbar{
    background: #ad224ee3;
    width:1280px !important;
    -webkit-box-shadow: 0px 1px 1px 1px rgba(0,0,0,0.15);
    -moz-box-shadow: 0px 1px 1px 1px rgba(0,0,0,0.15);
    box-shadow: 0px 1px 1px 1px rgba(0,0,0,0.15);
    color: white;
    font-family: "Roboto";
    top: -20px;
    padding-top: 10px;
    height: 100px !important;
    margin: auto;
}
.testi{
    flex: 1;
    width: 80%;

}
.margin{
    margin-top: 20px;
}
.example-form{
    width: 100%;
    margin-left: 100px;
}