.mat-toolbar{
    background: #ad224ee3;
    width:1280px;
    -webkit-box-shadow: 0px 1px 1px 1px rgba(0,0,0,0.15);
    -moz-box-shadow: 0px 1px 1px 1px rgba(0,0,0,0.15);
    box-shadow: 0px 1px 1px 1px rgba(0,0,0,0.15);
    color: white;
    font-family: "Roboto";
    margin-top: 20px;
    padding-top: 10px;
    height: 10%;
}
.testi{
    flex: 1;
    width: 100%;
}
.example-form{
    width: 100%!important;
}