<div fxLayout="row" *ngIf="data.displayName" fxLayoutAlign="center center" class="displayName">
    <p>Currently logged in as: {{data?.displayName}}</p> <button class="but" mat-button (click)="data.signOut()">Sign out</button>
</div>
<div fxLayout="row" *ngIf="!data.displayName" fxLayoutAlign="center center" class="displayName">
    <p>Log in to save and manage your playlists</p> <button class="but" [color]="'success'" mat-button (click)="goToLogin() ">Log In</button>
</div>

<div fxLayout="row" fxLayoutAlign="center start">
    <div fxFlex="20"></div>
    <div fxLayout="column">
        <div fxLayout="row" fxLayoutAlign="center center" class="margin">
            <mat-toolbar class="search" color="primary">
                <div class="logo" style="z-index: 99; top: -10px">
                    <img src="assets/img/nuke.png" alt="nukebox" height="140" width="160">
                </div>
                <form class="example-form" fxLayout="row" fxLayoutAlign="center center">

                    <mat-form-field class="testi">
                        <input id="haku" matInput placeholder="Search for songs" [(ngModel)]="data.query"
                               name="query"
                               color="red">
                    </mat-form-field>
                    <button (click)="searchForm()" mat-button style="margin-left: 40px !important;">
                        <mat-icon matSuffix>search</mat-icon>
                    </button>

                </form>
            </mat-toolbar>

        </div>
        <div class="filler">
        </div>
        <div class="container">
            <div fxLayout="row" class="keskii" fxFlex="100" fxLayoutAlign="center start">
                <mat-card class="vasen" id="vasen">
                    <div class="searchResault" fxLayoutAlign="space-around center">
                        <div *ngIf="searchDone">
                            <h3 matLine style="font-weight: 400"> Page: {{data.pageIndex}}</h3>
                        </div>
                        <p *ngIf="!searchDone"> Current top videos: </p>
                        <div class="page" fxLayoutAlign="end center" *ngIf="searchDone" fxLayout="row">
                            <button *ngIf="data.previousPageToken" mat-button (click)="previousPage()">
                                <mat-icon matSuffix>arrow_left</mat-icon>
                                Previous page
                            </button>
                            <button *ngIf="data.nextPageToken" mat-button (click)="nextPage()">
                                Next page
                                <mat-icon matPrefix>arrow_right</mat-icon>
                            </button>
                        </div>
                    </div>

                    <mat-list *ngIf="data.results">
                        <mat-list-item class="item" *ngFor="let video of data.results | filter, let i = index">
                            <img *ngIf="video.snippet.thumbnails" matListAvatar
                                 [src]="video.snippet.thumbnails.default.url">
                            <h3 id="title" (click)="play(i)" matLine style="font-weight: 600"> {{ video.snippet.title }}</h3>
                            <p matLine><span style="color: #ff0101"> {{video.snippet.channelTitle}}</span></p>
                            <p matLine><span> {{video.snippet.description}}</span></p>
                            <button *ngIf="!playlist" mat-button (click)="passIndex(i)">
                                <mat-icon>playlist_add</mat-icon>
                            </button>
                            <button *ngIf="playlist" mat-button (click)="getSongIndex(i)" [matMenuTriggerFor]="rootMenu">
                                <mat-icon>playlist_add</mat-icon>
                            </button>
                            <mat-menu #rootMenu="matMenu">
                                <button *ngIf="playlist" mat-menu-item [matMenuTriggerFor]="subMenu">Add to</button>
                            </mat-menu>
                            <mat-menu #subMenu="matMenu">
                                <div *ngFor="let playlist of data.playLists, let k = index">
                                    <button (click)="addToPlaylist(k, i)" mat-menu-item>{{playlist.name}}</button>
                                </div>
                            </mat-menu>

                        </mat-list-item>
                    </mat-list>
                </mat-card>
                <mat-card class="oikeaeka" fxLayout="column">
                    <div *ngIf="!playlist">
                        <youtube-player
                                style="margin-bottom: -10px"
                                width="450"
                                height="367"
                                [videoId]="id"
                                (ready)="savePlayer($event)"
                                (change)="onStateChange($event)">
                        </youtube-player>
                        <div class="buttons" fxLayoutAlign="center center" color="accent">
                            <button class="playpause" mat-button (click)="playVideo()">
                                <mat-icon style="color: white;" [inline]="true">play_arrow</mat-icon>
                            </button>
                            <button class="playpause" mat-button (click)="pauseVideo()">
                                <mat-icon style="color: white;" [inline]="true">pause</mat-icon>
                            </button>
                            <button class="playpause" mat-button (click)="skipCurrent()">
                                <mat-icon style="color: white;" [inline]="true">skip_next</mat-icon>
                            </button>
                        </div>
                    </div>
                    <div *ngIf="playlist">
                        <youtube-player
                                style="margin-bottom: -10px"
                                width="450"
                                height="367"
                                [videoId]="id"
                                (ready)="savePlayer($event)"
                                (change)="playListChange($event)">
                        </youtube-player>
                        <div class="buttons" fxLayoutAlign="center center">
                            <button class="playpause" mat-button (click)="playVideo()">
                                <mat-icon style="color: white;" [inline]="true">play_arrow</mat-icon>
                            </button>
                            <button class="playpause" mat-button (click)="pauseVideo()">
                                <mat-icon style="color: white;" [inline]="true">pause</mat-icon>
                            </button>
                            <button class="playpause" mat-button (click)="skipCurrent()">
                                <mat-icon style="color: white;" [inline]="true">skip_next</mat-icon>
                            </button>
                        </div>
                    </div>

                    <mat-list class="nowplaying" fxLayout="column" *ngFor="let video of data.current"
                              fxLayoutAlign="center center">

                        <div fxFlex="15" fxLayout="row" fxLayoutAlign="start center" style="max-width: 100% !important;">
                            <div fxLayout="row" style="margin-top: 5px" fxLayoutAlign="start start" class="lsa">
                                <p matLine> {{ video.snippet.title }}</p>
                            </div>
                        </div>
                        <div fxFlex="5" id="now" class="nowplaying" fxLayout="row" fxLayoutAlign="start center"
                             style="width: 70% !important;">
                            <div fxLayout="row" fxFlex="33" fxLayoutAlign="start center">
                                <p> {{video.statistics.likeCount | numbers}} </p>
                                <mat-icon style="margin-left: 5px">thumb_up</mat-icon>
                            </div>
                            <div fxLayout="row" fxFlex="33" fxLayoutAlign="start center">
                                <p> {{video.statistics.dislikeCount | numbers}}</p>
                                <mat-icon style="margin-left: 5px">thumb_down</mat-icon>
                            </div>
                            <div fxLayout="column" fxFlex="33" fxLayoutAlign="start center">
                                <p> Views: {{video.statistics.viewCount | numbers}} </p>
                            </div>

                        </div>

                        <div fxFlex="10" id="margini"  fxLayoutAlign="center center">
                            <p>Uploaded by:</p>
                            <p style="font-weight: 600; color: #ff1142;">&ensp;{{video.snippet.channelTitle}}</p>
                        </div>
                        <div fxFlex="70" class="descript" style="overflow-y: auto;">
                            <mat-divider></mat-divider>
                            <p class="italic">{{video.snippet.localized.description}}</p>
                        </div>
                    </mat-list>
                </mat-card>
            </div>
        </div>
        <div fxFlex="3">
            <p></p>
        </div>
    </div>
    <div fxFlex="20" id="mainCont">
        <div fxLayout="column">
            <mat-card class="oikeatoka" fxFlex="95" id="playlist">
                <div fxLayout="column">

                    <button *ngIf="data.displayName" mat-button class="smaller" style="color: white; width: 100%"
                            (click)="myBootstrapModal.open()"
                            (click)="edit()">
                        Create New Playlist
                    </button>
                    <mat-card class="height" [@slideInOut]="open" fxFlex="95" style="margin-bottom: 5px;">
                        <ngx-smart-modal #myBootstrapModal identifier="myBootstrapModal" [closable]="false"
                                         customClass="modal-content no-padding">
                            <div fxLayout="column" fxFlexAlign="center center"
                                 style="background: #f062921a !important;">
                                <form class="example-form">
                                    <mat-form-field class="example-full-width">
                                        <input style="color: white;" matInput type="text" [(ngModel)]="playlistName"
                                               [ngModelOptions]="{standalone: true}" required>
                                        <mat-placeholder class="placeholder">Playlist Name</mat-placeholder>
                                    </mat-form-field>
                                </form>
                                <button mat-button (click)="edit(); createPlaylist()">
                                    Create Playlist
                                </button>
                            </div>
                        </ngx-smart-modal>
                    </mat-card>
                    <button *ngIf="data.displayName" mat-button class="smaller" (click)="showPlayLists()" style="width: 100%; color: white">
                        My playlists
                    </button>
                    <mat-card class="height" [@slideInOut]="playlistOpen">
                        <mat-list *ngIf="data.playLists">
                            <mat-list-item *ngFor="let playlist of data.playLists, let i = index"
                                           [ngClass]="{'active': false === playlistCondition[i], 'inactive': false === !playlistCondition[i]}">
                                <div fxLayout="row" id="wrapper" fxLayoutAlign="space-between center">
                                    <button class="smallbutton" (click)="playListContent(i)" mat-button
                                            style="color: white;">
                                        {{playlist.name}}
                                    </button>
                                    <mat-divider class="white"></mat-divider>
                                    <button style="line-height: 0px !important; padding: 5px;" mat-button
                                            (click)="openDialog(i, 1)">
                                        <mat-icon>clear</mat-icon>
                                    </button>
                                </div>
                            </mat-list-item>
                        </mat-list>
                    </mat-card>
                    <div class="soittolista" fxLayout="row" fxLayoutAlign="space-around center">
                        <p class="current">Playlist: </p>
                    </div>
                    <mat-list *ngIf="playlist" id="parent2">
                        <mat-list-item id="child2" class="white"
                                       [ngClass]="{'active': false === condition[i], 'inactive': false === !condition[i]}"
                                       *ngFor="let item of data.currentPlaylist, let i = index">
                            <img *ngIf="item.thumbnail" matListAvatar
                                 [src]="item.thumbnail">
                            <p matLine *ngIf="item.name"><span id="tekstii"
                                                               (click)="getPlaylistVideo(i)"> {{item.name}} </span>
                            </p>
                            <mat-divider class="white"></mat-divider>
                            <button style="line-height: 0px !important; padding: 5px;" mat-button
                                    (click)="openDialog(i, 0)">
                                <mat-icon>clear</mat-icon>
                            </button>
                        </mat-list-item>
                    </mat-list>

                </div>

            </mat-card>
            <mat-list *ngIf="lista && !playlist" id="parent" class="inactive">
                <mat-list-item id="child" (click)="getThisVideo(i)"
                               [ngClass]="{'active': false === condition[i], 'inactive': false === !condition[i]}"
                               *ngFor="let item of lista, let i = index">
                    <img *ngIf="item[0].snippet.thumbnails" matListAvatar
                         [src]="item[0].snippet.thumbnails.default.url">
                    <p matLine *ngIf="item[0].snippet.title"><span id="teksti"> {{item[0].snippet.title}} </span>
                    </p>
                    <mat-divider class="white"></mat-divider>
                    <button style="line-height: 0px !important; padding: 5px;" mat-button (click)="deleteEntry(i)">
                        <mat-icon>clear</mat-icon>
                    </button>
                </mat-list-item>
                <p id="listEnd" style="margin: 0 !important; font-weight: bold;"></p>
            </mat-list>
        </div>
    </div>
</div>