@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import "~src/theme.scss";

.mat-toolbar{
  background: #E91E63;
  width: 1050px;
  -webkit-box-shadow: 0px 1px 1px 1px rgba(0,0,0,0.15);
  -moz-box-shadow: 0px 1px 1px 1px rgba(0,0,0,0.15);
  box-shadow: 0px 1px 1px 1px rgba(0,0,0,0.15);
  color: white;
  font-family: "Montserrat" !important;
  top: -20px;
  padding-top: 10px;
  height: 100px !important;
  margin: auto;
}
.testi{
  flex: 1;
  width: 80%;
}
* {
  font-family: 'Montserrat', sans-serif;
}
.example-form {
  min-width: 60px;
  width: 100%;
  margin: auto !important;
}
.height{
  height: 100%;
  width: 100%;
  background: rgba(46, 43, 45, 0.92);
  color: white;
}
.placeholder{
  color: white;
  text-align: center;
  font-size: 13px;
}
.fulls{
  height: 100%;
  width: 100%;
  margin-left: 5px;
  margin-top: 5em;
}
.but{
  line-height: 30px !important;
  height: 30px;
  margin-left: 2em !important;
  background: #d81b60;
}
#mainCont
{
  display:inline-block;
  position: relative;
  margin-right: 5%;
}
.example-full-width {
  width: 90%;
  text-align: center !important;
}
.green{
  color: green;
}
.red{
  color: red;
}
.mat-button:hover{
  background-color: rgba(76, 20, 20, 0.94);
  transition: all 0.15s ease-in-out;
}
.nowplaying {
  background: $accent;
  color: white !important;
  word-wrap: break-word;
  max-height: 338px;
  font-weight: 400 !important;
  font-size:14px;
  transition: all 0.2s ease;
}
#now{
  margin-top: 25px !important;
}
.descript {
  word-wrap: break-word;
  white-space: pre-line;
  overflow: auto;
  color: #9c9c9c;
}
.item:nth-child(odd){
  background: #ffb5b3a1;
}
.mat-button{
  line-height: 70px;
  transition: all 0.3s ease;
  min-width: 23px !important;
}
.playpause{
  line-height: 70px !important;
}
.smaller{
  height: 50px !important;
  line-height: 50px !important;
}
.smallbutton{
  line-height: 30px !important;
}
.italic{
  word-break: break-word;
  font-weight: 500;
  font-size: 14px;
}
.iframe{
  width: 100%;
}
.buttons .mat-icon{
  font-size: 38px !important;
}
.buttons{
  background: #F50057;
  border-bottom: 0 none;
  margin-top: -10px;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.46);
}
.section{
  height: 60px;
}
.item{
  color: black !important;
  background: white;

}
.item #title{
  transition: all .1s ease-in-out;
}
.item #title:hover{
  cursor: pointer;
  color: #af1948;
}
.mat-list-item{
  animation: slide-up 0.7s ease;
}
.margin{
  margin-top: 3em;
  width: 1050px;
}
.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}

.example-icon {
  padding: 0 14px;
}

.example-spacer {
  flex: 1 1 auto;
}
.example-card{
  max-width: 50%;
  margin: auto;
}
.active{
  background: #7d2439;
}
.inactive{
  background-color: rgb(16, 16, 16);
}
.example-form{
  width: 100%;
  margin-left: 100px;
}
.white{
  color: black !important;
  transition: all 0.3s ease;
}
.displayName{
  color: white;
  font-size: 0.9em;
}
.mat-card{
  padding: 0px !important;
}
.container{
}
#listEnd{
  color: #c34444;
  transition: all 0.5s ease-out;
}

.searchResault{
  background: white;
  z-index: 10;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
  padding: 20px !important;
  text-align: center;
}

.soittolista{
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
  padding: 20px !important;
  height: 50px;
}
.soittolista2{
  top: 0;
}
.search{
  width: 1050px;
}
.current {
  font-size: 14px;
  white-space: nowrap !important;
  overflow: hidden !important;
  text-overflow: ellipsis !important;
  color: white;
}
.lsa{
  overflow: hidden !important;
  text-overflow: ellipsis !important;
}
#margini{
  margin: 10px;
}
.title{
  max-width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: 15px !important;
  font-weight: 600;
  margin: 5px;
}
.vasen{
  background: white;
  color: black;
  box-shadow: 0px 3px 15px rgba(0,0,0,0.2) !important;
  animation: slide-up 0.7s ease;
  width: 600px;
  height: 100%;
  overflow-y: auto;
}
.oikee{
  background: rgba(0,0,0,0.4);
  width: 100%;
}
.oikeakolumni{
  height: 100%;
}
.vasenkolumni{
  height: 100%;
  animation: slide-up 0.4s ease;
}
.keskii{
  height: 750px;
}
#wrapper{
  width: 100%;
}

.mat-list{
  padding-top: 0px !important;
}
.oikeaeka{
  text-align:center;
  color: #000000;
  width: 450px;
  box-shadow: 0px 0px 0px rgba(0,0,0,0.4) !important;



}
.oikeatoka{
  text-align:center;
  max-height: 920px;
  min-width: 200px;
  height: 100%;
  margin-top: 3em;
  background: rgb(16, 16, 16);
  color: #000000;
  box-shadow: 0px 0px 0px rgba(0,0,0,0.2) !important;
  overflow-y: auto;
}
html {
  overflow: scroll;
  overflow-x: hidden;
}
::-webkit-scrollbar {
  width: 5px;
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: rgba(132, 132, 132, 1);
  width: 15px;
  height: 50px;
}
@media (min-width: 1400px) and (max-width: 2000px){
  .oikeaeka {

    height: 750px;
  }
  .vasen {
    height: 750px;
  }
  .oikeatoka {
    margin-top: 0em;
    max-height: 730px;
  }
  .testi{
    font-size: 16px !important;
  }
  .margin{
    margin-top: 0em;

  }
  .searchResault {
    padding: 5px !important;
  }
  .mat-toolbar{

    height: 70px !important;
  }
  .playpause{
    line-height: 50px !important;
  }
}
@media (min-width: 268px) and (max-width: 1400px) {
  .oikeaeka {
    height: 650px;
  }
  .vasen {
    width: 350px;
    height: 650px;
  }
  .nowplaying{
    max-height: 238px;
  }
  .mat-toolbar{
    height: 70px !important;
  }
  .searchResault {
    padding: 5px !important;
  }
  .playpause{
    line-height: 50px !important;
  }
  .testi{
    font-size: 16px !important;
  }
  .oikeatoka {
    margin-top: 0em;
  }
  .margin{
    margin-top: 0em;
    width: 800px;
  }
  .mat-toolbar{
    width: 800px;
  }
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active  {
  -webkit-box-shadow: 0 0 0 30px #e91e63 inset !important;
}
input:-webkit-autofill {
  -webkit-text-fill-color: #ffffff !important;
}
@media (min-width: 2000px) and (max-width: 2900px) {
  .oikeaeka {

    height: 950px;
  }
  .vasen {
    width: 800px;
    height: 950px;
  }
  .oikeatoka {
    margin-top: 5em;
    max-height: 780px;
  }
  .hover:hover{
    cursor: pointer !important;
  }
  .margin{
    margin-top: 5em;
    width: 1250px;
  }
  .nowplaying{
    max-height: 518px;
  }
  .mat-toolbar{
    width: 1250px;
  }
  .mat-form-field-label{
    color: white !important;
  }
  .mat-form-field-underline {
    background-color: white !important;;
  }
  .mat-form-field-ripple {
    background-color: white !important;
  }
}

.harmaa{
  background: rgba(167, 115, 111, 0.16);
}
.valkonenteksti{
  color: black !important;
}
#teksti{
  font-size: 14px;
}
#tekstii{
  font-size: 14px;
}
#child{
  color: white !important;
  cursor: pointer;
}
#child2{
  color: white !important;
  cursor: pointer !important;
}

@keyframes slide-up {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;

  }
}

#child > *:hover {
  color: #ffda00;
  transition: all 0.3s ease;
}
#child2 > *:hover {
  color: #ffda00;
  transition: all 0.3s ease;
}
.hvr-shutter-out-horizontal {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  background: #e1e1e1;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}