<div class="container" fxLayoutAlign="center center">
<div fxLayout="row" fxLayoutAlign="center start" class="keskii">
        <mat-card class="vasen">
            <mat-list>
                <mat-list-item> Musavideo 1 </mat-list-item>
                <mat-divider></mat-divider>
                <mat-list-item class="harmaa"> Musavideo 2 </mat-list-item>
                <mat-divider></mat-divider>
                <mat-list-item> Musavideo  3</mat-list-item>
                <mat-divider></mat-divider>
                <mat-list-item class="harmaa"> Musavideo  4</mat-list-item>
                <mat-divider></mat-divider>
                <mat-list-item> Musavideo  5</mat-list-item>
                <mat-divider></mat-divider>
                <mat-list-item class="harmaa"> Musavideo  6</mat-list-item>
                <mat-divider></mat-divider>
                <mat-list-item> Musavideo  7</mat-list-item>
                <mat-divider></mat-divider>
                <mat-list-item class="harmaa"> Musavideo  8</mat-list-item>
                <mat-divider></mat-divider>
                <mat-list-item> Musavideo  9</mat-list-item>
                <mat-divider></mat-divider>
                <mat-list-item class="harmaa"> Musavideo  10</mat-list-item>
            </mat-list>
        </mat-card>
    <div fxLayout="column" fxLayoutAlign="space-between stretch" class="oikeakolumni">
        <mat-card class="oikeaeka">
            <youtube-player
                    [videoId]="id"
                    [width]="640"
                    [height]="480"
                    (ready)="savePlayer($event)"
                    (change)="onStateChange($event)"
            ></youtube-player>
            <div class="buttons">
                <button mat-button (click)="playVideo()">
                    <mat-icon>play_circle_outline</mat-icon>
                </button>
                <button mat-button (click)="pauseVideo()">
                    <mat-icon>pause_circle_outline</mat-icon>
                </button>
            </div>
            <div class="col-md-10">
                <section class="panel panel-classss">
                    <div class="panel-body">
                        <pre>{{ ytEvent }}</pre>
                    </div>
                </section>
            </div>
        </mat-card>
        <mat-card class="oikeatoka">
            <p style="padding: 20px">Playlisti alle</p>
            <mat-list>
                <mat-list-item class="valkonenteksti"> Musavideo 1 </mat-list-item>
                <mat-divider></mat-divider>
                <mat-list-item class="valkonenteksti"> Musavideo 2 </mat-list-item>
                <mat-divider></mat-divider>
                <mat-list-item class="valkonenteksti"> Musavideo 3 </mat-list-item>
                <mat-divider></mat-divider>
                <mat-list-item class="valkonenteksti"> Musavideo 4 </mat-list-item>
                <mat-divider></mat-divider>
                <mat-list-item class="valkonenteksti"> Musavideo 5 </mat-list-item>
                <mat-divider></mat-divider>
                <mat-list-item class="valkonenteksti"> Musavideo 6 </mat-list-item>
                <mat-divider></mat-divider>
            </mat-list>
        </mat-card>
    </div>
</div>
</div>